.popular {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  border-bottom: 1px solid #2e386e;

  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 58px;
  }

  .popular_carrousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;

    svg {
      cursor: pointer;

      rect, g {
        transition: all 0.2s linear;
      }

      &:hover {
        rect, g {
          fill: #0a0e1c;
        }
      }
    }

    .carrousel_screen {
      width: 100%;
      height: 340px;
      position: relative;
      overflow: hidden;
    }

    .popular_list {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      column-gap: 35px;
      max-width: 100%;
      min-width: 100%;
      transition: all 0.4s ease;

      &._active {
        transform: translateX(-193px);
      }

    }
  }
}